
body {
  display: flex;
  background-image: url("../images/v17_58.png");
  background-size: cover;
  width: 100%;
  height: 100%;
  font-family: Space Grotesk;
 }

#searchbar{
  position: absolute;
  top: 20px;
  left: center;
  width: 65%;
  margin-left: 15%;
  padding:15px;
  border-radius: 15px;
  box-shadow: 0 0 10px #2c3939;
  font-family: Space Grotesk;
  animation: transitionIn 1.25s;
}
.contact-box {
  width: 90%;
  height: 55%;
  background-color: rgba(255, 255, 255, 0.833);
  padding: 40px;
  box-sizing: border-box;
  border-radius: 15px;
  box-shadow: 0 0 10px #2c3039;
  margin: 75pt auto;
  animation: transitionIn 1.25s;
}
h1 {
  text-align: center;
  margin-top: 50px;
  font-size: 36px;
  color: #2c3039;
}

.contact-table {
  width: 80%;
  margin: 0 auto;
  border-collapse: collapse;
}

/*Columns and Rows adjustments*/
.contact-table th,
.contact-table td {
  border: 1px solid rgb(0, 0, 0);
  padding: 8px;
  text-align: left;
}

/*Middle row colors*/
.contact-table tr:nth-child(even) {
  background-color: #FFC5A2;
}

.contact-table th {
  background-color: #2c3039;
  color: #fff;
}

/* Edit Button*/
.fa-user-pen {

  background-color: #9a7edc;
  color: #fff;
  border: 2px solid #FFFFFF;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.2s ease-in-out;

}

.fa-user-pen:hover {
  background-color: #B25E98;
  box-shadow: 0 0 5px #6b3638;
}

/* Delete Button*/
.fa-trash {
  background-color: #b22222;
  color: #fff;
  border: 2px solid #FFFFFF;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.fa-trash:hover {
  background-color: #ff0000;
  box-shadow: 0 0 5px #6b3638;
}

.contact-table tr:hover {
  background-color: #59d8d8c7;
}

/*logout Button*/
.fa-person-walking-arrow-right {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: #e85454;
  color: #fff;
  padding: 14px 20px;
  border: 4px solid #FFFFFF;
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;
  text-decoration: none;
  box-shadow: 0 0 5px #39342c;
  animation: transitionIn 1.25s;
}

.fa-person-walking-arrow-right:hover {
  background-color: #ffb39cea;
  box-shadow: 0 0 0px #6b3638;
}

/* Add button */
.fa-user-plus {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #27b16edb;
  color: #fff;
  padding: 14px 20px;
  border: 4px solid #FFFFFF;
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;
  text-decoration: none;
  box-shadow: 0 0 5px #2c3039;
  animation: transitionIn 1.25s;

}

.fa-user-plus:hover {
  background-color: #5ae04d;
  box-shadow: 0 0 0px #ffffff;
}

@keyframes transitionIn {
  from {
    opacity: 0;
    transform: rotateX(-10deg);
  }
  to {
    opacity: 1;
    transform: rotateX(0);
  }
}
